/* ЛЕНДИНГ "ВСЕ ДЛЯ ФУТБОЛА" */
.football {
  margin: 37px 0 94px;
}

.football__header {
  margin: 0 0 22px 15px;

  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* категории товаров */
.football__categories {
  margin: 23.5px 13.5px -4.5px 7.5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.football__categories_header {
  margin: 0 12px 5.74px;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

.football__categories_tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 12px;

  a {
    display: inline-block;
    padding: 2px 5.7px;
    font-weight: 400;
    font-size: 6.69666px;
    line-height: 11px;
    color: #333333;
    background: #FFFFFF;
    border-radius: 1.91333px;

    &:not(:last-child) {
      margin-right: 2.87px;
    }
  }
}

.football__categories_item {
  height: 187px;
  margin: 4.5px;
  background-repeat: no-repeat;

  &:not(:first-child) {
    width: 140px;
  }

  &--form {
    width: 100% !important;
    background-image: url(../img/images/categories/form.png);
    background-size: contain;
    background-position: 67.5% 0;
    background-color: #ECF7FF;

    .football__categories_header {
      margin: 105px 12px 12px;
    }

    .football__categories_tags {
      a {
        padding: 6px 12px;
        font-size: 12px;
        line-height: 16px;
        border-radius: 4px;

        &:not(:last-child) {
          margin-right: 6px;
        }
      }
    }
  }

  &--boots {
    background-image: url(../img/images/categories/boots.png);
    background-size: 132.59px;
    background-position: 50% 0;
    background-color: #EFF8E2;

    .football__categories_header {
      margin-top: 130.94px;
    }
  }

  &--accessories {
    background-image: url(../img/images/categories/accessories.png);
    background-size: 110.13px;
    background-position: 50% 6px;
    background-color: #FFF3ED;

    .football__categories_header {
      margin-top: 130.94px;
    }
  }

  &--balls {
    background-image: url(../img/images/categories/balls.png);
    background-size: 108.52px;
    background-position: 50% 6.31px;
    background-color: #EBFDFB;

    .football__categories_header {
      margin-top: 152.51px;
    }
  }

  &--bags {
    background-image: url(../img/images/categories/bags.png);
    background-size: 90.37px;
    background-position: 50% 11.5px;
    background-color: #F4F4F4;

    .football__categories_header {
      margin-top: 130.51px;
    }
  }

  &--inventory {
    background-image: url(../img/images/categories/inventory.png);
    background-size: 95.19px;
    background-position: 50% -1.48px;
    background-color: #FFF3FF;

    .football__categories_header {
      margin-top: 136.68px;
      margin-bottom: 0;
    }
  }

  &--medicine {
    background-image: url(../img/images/categories/medicine.png);
    background-size: 96px;
    background-position: 50% 31.17px;
    background-color: #ECF1FF;

    .football__categories_header {
      margin-top: 136.68px;
      margin-bottom: 0;
    }
  }
}

/* Бренды */
.footbal__brands {
  height: 30px;
  margin: 72px 0 72px 16px;
  overflow-y: hidden;

  .footbal__brands_item {
    margin-right: 35px;

    svg {
      fill: #333333;
    }
  }
}

.footbal__brands_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  padding-bottom: 20px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/* ссылки */
.footbal__links {
  margin: 0 18px;
}

.footbal__links_item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 26px 10px 26px 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  color: #000000;
  border-bottom: 1px solid rgba(186, 186, 186, 0.5);

  &:first-child {
    border-top: 1px solid rgba(186, 186, 186, 0.5);
  }

  span {
    max-width: 75%;
  }
}

/* PRO-эксперты рекомендуют */
.footbal__slider {
  background-color: #F7F7F7;
  padding-bottom: 72px;
  margin-bottom: 72px;

  &--recommendations {
    margin-top: 72px;
  }

  &--services {
    .footbal__slider_descr {
      .footbal__slider_header {
        margin-bottom: 19px;
      }
    }
  }
}

.footbal__slider_img {
  width: 100%;
}

.footbal__slider_descr {
  .footbal__slider_header {
    margin: 40px 0 3px 12px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 1.6px;
    text-transform: uppercase;

    svg {
      vertical-align: text-bottom;
    }
  }

  .footbal__slider_subheader {
    display: inline-block;
    margin-left: 12px;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 24px;
  }
}

/* PRO-эксперты */
.footbal__experts {
  overflow-y: hidden;
  width: 100%;
}

.footbal__slider_box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-bottom: 18px;
  margin: -6px 0 0 12px;
  overflow-y: auto;

  figure {
    min-width: 283px;
    height: 516px;
    border: 0.748282px solid #BABABA;
    overflow: hidden;
    margin: 0;
    margin-right: 14px;

    img {
      width: 100%;
    }

    figcaption {
      margin: 24px 36px 30px;
      height: 320px;
      overflow-y: hidden;

      h3 {
        margin: 0 0 12px;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 1.3px;
        text-transform: uppercase;
      }

      p {
        margin-bottom: 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        overflow-y: auto;
      }
    }
  }
}

.video {
  position: relative;
  height: 180px;
  width: 100%;
  margin: 72px 0 0;

  #video {
    height: 180px;
    max-width: 100%;
    object-fit: cover;
  }

  .video-control {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 89.11px;
    width: 87.19px;
    border: 0.72px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    cursor: pointer;
    transition: .2s ease;
    transition-property: opacity, visibility, width, height;
    z-index: 1;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 72.66px;
      height: 74.26px;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 50%;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      display: block;
      width: 0;
      height: 0;
      border: 18px solid transparent;
      border-top-width: 10px;
      border-bottom-width: 10px;
      border-left-color: #fff;
      border-right-width: 0;
    }

    &-play {
      opacity: 0;
      width: 100%;
      height: 100%;
    }
  }
}