/* ЛЕНДИНГ "ВСЕ ДЛЯ ФУТБОЛА" */
.football {
  margin: 37px 0 94px;

  @media (min-width: 426px) {
    margin: 50px 0 88px;
  }

  @media (min-width: 1024px) {
    margin-bottom: 41px;
  }

  @media (min-width: 1440px) {
    margin: 60px 0 114px;
  }
}

.football__header {
  margin-left: 15px;
  margin-bottom: 22px;

  @media (min-width: 426px) {
    margin-bottom: 24px;
  }

  @media (min-width: 1024px) {
    margin-bottom: 32px;
  }
}