/* КАТЕГОРИИ ТОВАРОВ */
.football__categories {
  margin: 23.5px 13.5px -4.5px 7.5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (min-width: 426px) {
    margin: 25px 18px -7px 18px;
  }

  @media (min-width: 1024px) {
    margin: 35.5px 44px -6.5px 44px;
  }
}


.football__categories_box {
  width: 100%;
  position: absolute;
  bottom: 12px;

  @media (min-width: 426px) {
    bottom: 24px
  }
}

.football__categories_header {
  margin: 0;
  margin-left: 12px;

  @media (min-width: 426px) {
    margin-left: 24px;
  }
}

.football__categories_tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 12px;

  @media (min-width: 426px) {
    margin-left: 24px;
  }

  .categories_tag {
    display: inline-block;
    padding: 2px 5.7px;
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 6.69666px;
    line-height: 11px;
    color: #333333;
    background: #FFFFFF;
    border-radius: 1.91333px;
    cursor: pointer;

    @media (min-width: 426px) {
      padding: 6px 12px;
      font-size: 12px;
      line-height: 16px;
    }

    &:not(:last-child) {
      margin-right: 2.87px;

      @media (min-width: 426px) {
        margin-right: 6px;
      }
    }

    &--close {
      background: none;
      border: 1px solid #333333;
    }
  }

  .categories_tag.js-tag-none {
    display: none;
  }
}

.football__categories_item {
  position: relative;
  height: 187px;
  margin: 4.5px;
  background-repeat: no-repeat;

  @media (min-width: 426px) {
    height: 312px;
    margin: 7px;
    box-sizing: content-box;
  }

  @media (min-width: 1024px) {
    height: 392px;
    margin: 6.5px 9px;
  }

  &:not(:first-child) {
    width: calc(50% - 9px);

    @media (min-width: 426px) {
      width: auto;
    }
  }

  &--form {
    width: 100% !important;
    background-image: url(../img/images/categories/form.png);
    background-size: contain;
    background-position: 67.5% 0;
    background-color: #ECF7FF;

    @media (min-width: 426px) {
      width: calc(100% * 0.666667 - 14px) !important;
      background-image: url(../img/images/categories/big/form.png);
      background-size: 255.3720703125px;
      order: 1;
    }

    @media (min-width: 1024px) {
      width: calc(100% * 0.666667 - 18px) !important;
    }

    .football__categories_header {
      margin-bottom: 12px;
    }

    .football__categories_tags {
       .categories_tag {
        padding: 6px 12px;
        font-size: 12px;
        line-height: 16px;
        border-radius: 4px;

        &:not(:last-child) {
          margin-right: 6px;
        }
      }
    }
  }

  &--boots {
    background-image: url(../img/images/categories/boots.png);
    background-size: 132.59px;
    background-position: 50% 0;
    background-color: #EFF8E2;

    @media (min-width: 426px) {
      width: calc(100% - 66.6667% - 14px) !important;
      background-image: url(../img/images/categories/big/boots.png);
      background-size: 217.35716247558594px;
      order: 2;
    }

    @media (min-width: 1024px) {
      width: calc(100% - 66.6667% - 18px) !important;
    }

    .football__categories_header {
      margin-bottom: 5.74px;
    }
  }

  &--accessories {
    background-image: url(../img/images/categories/accessories.png);
    background-size: 110.13px;
    background-position: 50% 6px;
    background-color: #FFF3ED;

    @media (min-width: 426px) {
      width: calc(100% / 3 - 14px) !important;
      background-image: url(../img/images/categories/big/accessories.png);
      background-size: 181.48px;
      order: 3;
    }

    @media (min-width: 1024px) {
      width: calc(100% / 3 - 18px) !important;
    }

    .football__categories_header {
      margin-bottom: 5.74px;
    }
  }

  &--balls {
    background-image: url(../img/images/categories/balls.png);
    background-size: 108.52px;
    background-position: 50% 6.31px;
    background-color: #EBFDFB;

    @media (min-width: 426px) {
      width: calc(100% / 3 - 14px) !important;
      background-image: url(../img/images/categories/big/balls.png);
      background-size: 178.24px;
      order: 5;
    }

    @media (min-width: 1024px) {
      width: calc(100% / 3 - 18px) !important;
    }
  }

  &--bags {
    background-image: url(../img/images/categories/bags.png);
    background-size: 90.37px;
    background-position: 50% 11.5px;
    background-color: #F4F4F4;

    @media (min-width: 426px) {
      width: calc(100% / 3 - 14px) !important;
      background-image: url(../img/images/categories/big/bags.png);
      background-size: 148.43px;
      order: 4;
    }

    @media (min-width: 1024px) {
      width: calc(100% / 3 - 18px) !important;
    }
  }

  &--inventory {
    background-image: url(../img/images/categories/inventory.png);
    background-size: 95.19px;
    background-position: 50% -1.48px;
    background-color: #FFF3FF;

    @media (min-width: 426px) {
      width: calc(100% / 2 - 14px) !important;
      background-image: url(../img/images/categories/big/inventory.png);
      background-size: 179.49px;
      order: 6;
    }

    @media (min-width: 1024px) {
      width: calc(100% / 2 - 18px) !important;
    }
  }

  &--medicine {
    background-image: url(../img/images/categories/medicine.png);
    background-size: 96px;
    background-position: 50% 31.17px;
    background-color: #ECF1FF;

    @media (min-width: 426px) {
      width: calc(100% / 2 - 14px ) !important;
      background-image: url(../img/images/categories/big/medicine.png);
      background-size: 180.89px;
      order: 7;
    }

    @media (min-width: 1024px) {
      width: calc(100% / 2 - 18px) !important;
    }
  }
}