/* КАТЕГОРИИ ТОВАРОВ */
.football__categories {
  margin: 23.5px 13.5px -4.5px 7.5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (min-width: 700px) {
    margin: 25px 18px -7px 18px;
  }

  @media (min-width: 1000px) {
    margin: 35.5px 44px -6.5px 44px;
  }

  @media (min-width: 1400px) {
    margin: 41px 126px -9px 126px;
  }

  @media (min-width: 1800px) {
    margin-left: 168px;
    margin-right: 168px;
  }
}

.football__categories_box {
  width: 100%;
  position: absolute;
  bottom: 12px;

  @media (min-width: 700px) {
    bottom: 24px
  }
}

.football__categories_header {
  margin: 0;
  margin-left: 12px;

  @media (min-width: 700px) {
    margin-left: 24px;
  }

  @media (min-width: 1000px) {
    &:hover {
      color: #1551E5;
      transition: all 0.25s;
    }
  }
}

.football__categories_tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 12px;

  @media (min-width: 700px) {
    margin-left: 23px;
  }

  .categories_tag {
    display: inline-block;
    padding: 2px 5.7px;
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 6.69666px;
    line-height: 11px;
    color: #333333;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 1.91333px;
    cursor: pointer;

    @media (min-width: 700px) {
      padding: 6px 12px;
      font-size: 12px;
      line-height: 16px;
    }

    @media (min-width: 1000px) {
      font-size: 14px !important;
      line-height: 24px !important;

      &:hover {
        color: #1551E5;
        border: 1px solid #1551E5;
        transition: all 0.25s;
      }
    }

    &:not(:last-child) {
      margin-right: 2.87px;

      @media (min-width: 700px) {
        margin-right: 6px;
      }
    }

    &--close {
      background: none;
      border: 1px solid #333333;
    }
  }
}

.categories_tag.js-tag-none {
  display: none;

  @media (min-width: 1800px) {
    display: inline-block;
  }
}

.js-tag-more,
.js-tag-close {
  @media (min-width: 1800px) {
    display: none !important;
  }
}

.text-hidden {
  @media (max-width: 426px) {
    display: none;
  }
}

.football__categories_item {
  position: relative;
  height: 187px;
  margin: 4.5px;
  background-size: contain;
  background-repeat: no-repeat;

  @media (min-width: 700px) {
    height: 312px;
    margin: 7px;
    box-sizing: content-box;
  }

  @media (min-width: 1000px) {
    height: 392px;
    margin: 6.5px 9px;
  }

  @media (min-width: 1400px) {
    height: 372px;
    margin: 9px;
  }

  @media (min-width: 1800px) {
    height: 504px;
  }

  &:not(:nth-child(-n+1)) {
    width: calc(50% - 9px);

    @media (min-width: 700px) {
      width: auto;
    }
  }

  &--form {
    width: 100% !important;
    background-image: url(../img/images/categories/img1-min.png);
    background-size: contain;
    background-position: 67.5% 0;
    background-color: #ECF7FF;

    @media (min-width: 700px) {
      width: calc(100% * 0.666667 - 14px) !important;
      background-image: url(../img/images/categories/big/img1-big.png);
      order: 1;
    }

    @media (min-width: 1000px) {
      width: calc(100% * 0.666667 - 18px) !important;
    }

    @media (min-width: 1400px) {
      width: calc(50% - 18px) !important;
    }

    .football__categories_header {
      margin-bottom: 12px;
    }

    .football__categories_tags {
      @media (min-width: 1000px) {
        max-width: 298px;
      }
       .categories_tag {
        padding: 6px 12px;
        font-size: 12px;
        line-height: 16px;
        border-radius: 4px;

        &:not(:last-child) {
          margin-right: 6px;
        }
      }
    }

    .categories_tag.js-tag-none {
  
      @media (min-width: 1000px) {
        display: inline-block;
      }
    }
  
    .js-tag-more,
    .js-tag-close {
      @media (min-width: 1000px) {
        display: none !important;
      }
    }
  }

  &--boots {
    background-image: url(../img/images/categories/img2-min.png);
    background-position: 50% -3px;
    background-color: #EFF8E2;

    @media (min-width: 700px) {
      width: calc(100% - 66.6667% - 14px) !important;
      background-image: url(../img/images/categories/big/img2-big.png);
      order: 2;
    }

    @media (min-width: 1000px) {
      width: calc(100% - 66.6667% - 18px) !important;
    }

    @media (min-width: 1400px) {
      width: calc(100% / 4 - 18px) !important;
    }

    .football__categories_header {
      margin-bottom: 5.74px;
    }
  }

  &--accessories {
    background-image: url(../img/images/categories/img3-min.png);
    background-position: 50%;
    background-color: #FFF3ED;

    @media (min-width: 700px) {
      width: calc(100% / 3 - 14px) !important;
      background-image: url(../img/images/categories/big/img3-big.png);
      order: 3;
    }

    @media (min-width: 1000px) {
      width: calc(100% / 3 - 18px) !important;
    }

    @media (min-width: 1400px) {
      width: calc(100% / 4 - 18px) !important;
    }

    .football__categories_header {
      margin-bottom: 5.74px;
    }
  }

  &--balls {
    background-image: url(../img/images/categories/img4-min.png);
    background-position: 50%;
    background-color: #EBFDFB;

    @media (min-width: 700px) {
      width: calc(100% / 3 - 14px) !important;
      background-image: url(../img/images/categories/big/img4-big.png);
      order: 5;
    }

    @media (min-width: 1000px) {
      width: calc(100% / 3 - 18px) !important;
    }

    @media (min-width: 1400px) {
      width: calc(100% / 4 - 18px) !important;
    }
  }

  &--bags {
    background-image: url(../img/images/categories/img5-min.png);
    background-position: 50%;
    background-color: #F4F4F4;

    @media (min-width: 700px) {
      width: calc(100% / 3 - 14px) !important;
      background-image: url(../img/images/categories/big/img5-big.png);
      order: 4;
    }

    @media (min-width: 1000px) {
      width: calc(100% / 3 - 18px) !important;
    }

    @media (min-width: 1400px) {
      width: calc(100% / 4 - 18px) !important;
    }
  }

  &--inventory {
    background-image: url(../img/images/categories/img6-min.png);
    background-position: 50% -1.48px;
    background-color: #FFF3FF;

    @media (min-width: 700px) {
      width: calc(100% / 2 - 14px) !important;
      background-image: url(../img/images/categories/big/img6-big.png);
      order: 6;

      .football__categories_header {
        margin-bottom: 12px;
      }
    }

    @media (min-width: 1000px) {
      width: calc(100% / 2 - 18px) !important;
    }

    @media (min-width: 1400px) {
      width: calc(100% / 4 - 18px) !important;
    }
  }

  &--medicine {
    background-image: url(../img/images/categories/img7-min.png);
    background-position: 50%;
    background-color: #ECF1FF;

    @media (min-width: 700px) {
      width: calc(100% / 2 - 14px ) !important;
      background-image: url(../img/images/categories/big/img7-big.png);
      order: 7;
    }

    @media (min-width: 1000px) {
      width: calc(100% / 2 - 18px) !important;
    }

    @media (min-width: 1400px) {
      width: calc(100% / 4 - 18px) !important;
    }
  }
}