<section class="footbal__brands">
  <h2 class="invisible">Бренды</h2>
  <div class="footbal__brands_wrapper">
    <a href="#" class="footbal__brands_item">
      <svg width="84" height="29" aria-hidden="true" focusable="false">
        <use xlink:href="img/icons/sprite.svg#demix"></use>
      </svg>
    </a>

    <a href="#" class="footbal__brands_item">
      <svg width="36" height="24" aria-hidden="true" focusable="false">
        <use xlink:href="img/icons/sprite.svg#adidas"></use>
      </svg>
    </a>

    <a href="#" class="footbal__brands_item">
      <svg width="43" height="30" aria-hidden="true" focusable="false">
        <use xlink:href="img/icons/sprite.svg#nike"></use>
      </svg>
    </a>

    <a href="#" class="footbal__brands_item">
      <svg width="45" height="22" aria-hidden="true" focusable="false">
        <use xlink:href="img/icons/sprite.svg#puma"></use>
      </svg>
    </a>

    <a href="#" class="footbal__brands_item">
      <svg width="39" height="29" aria-hidden="true" focusable="false">
        <use xlink:href="img/icons/sprite.svg#kappa"></use>
      </svg>
    </a>
  </div>
</section>