<section class="football__categories">
  <h2 class="invisible">Категории товаров</h2>

  <article class="football__categories_item football__categories_item--form">
    <div class="football__categories_box js-categories-box">
      <a href="#">
        <h3 class="football__categories_header">Форма</h3>
      </a>
      <div class="football__categories_tags js-tags-container">
        <a href="#" class="categories_tag js-tag">Мужчинам</a>
        <a href="#" class="categories_tag js-tag">Женщинам</a>
        <span class="categories_tag js-tag-more">...</span>
        <a href="#" class="categories_tag js-tag js-tag-none">Футбольные клубы</a>
        <a href="#" class="categories_tag js-tag js-tag-none">Детям</a>
        <span class="categories_tag categories_tag--close js-tag js-tag-close js-tag-none">Свернуть</span>
      </div>
    </div>
  </article>

  <article class="football__categories_item football__categories_item--boots">
    <div class="football__categories_box">
      <a href="#">
        <h3 class="football__categories_header">Бутсы</h3>
      </a>
      <div class="football__categories_tags">
        <a href="#" class="categories_tag">Зал</a>
        <a href="#" class="categories_tag">Грунт</a>
        <a href="#" class="categories_tag">Газон</a>
      </div>
    </div>
  </article>

  <article class="football__categories_item football__categories_item--accessories">
    <div class="football__categories_box js-categories-box">
      <a href="#">
        <h3 class="football__categories_header">аксессуары</h3>
      </a>
      <div class="football__categories_tags js-tags-container">
        <a href="#" class="categories_tag js-tag">Перчатки</a>
        <a href="#" class="categories_tag js-tag">Шапки</a>
        <span class="categories_tag js-tag-more">...</span>
        <a href="#" class="categories_tag js-tag js-tag-none">Гейторы</a>
        <span class="categories_tag categories_tag--close js-tag js-tag-close js-tag-none">Свернуть</span>
      </div>
    </div>
  </article>

  <article class="football__categories_item football__categories_item--balls">
    <div class="football__categories_box">
      <a href="#">
        <h3 class="football__categories_header">мячи</h3>
      </a>
    </div>
  </article>

  <article class="football__categories_item football__categories_item--bags">
    <div class="football__categories_box">
      <a href="#">
        <h3 class="football__categories_header">
          Рюкзаки
          <br>
          и сумки
        </h3>
      </a>
    </div>
  </article>

  <article class="football__categories_item football__categories_item--inventory">
    <div class="football__categories_box js-categories-box">
      <a href="#">
        <h3 class="football__categories_header"> <span class="text-hidden">Тренировочный</span> инвентарь</h3>
      </a>
      <div class="football__categories_tags js-tags-container">
        <a href="#" class="categories_tag js-tag">Барьеры</a>
        <a href="#" class="categories_tag js-tag">Ворота</a>
        <span class="categories_tag js-tag-more">...</span>
        <a href="#" class="categories_tag js-tag js-tag-none">Конусы</a>
        <span class="categories_tag categories_tag--close js-tag js-tag-close js-tag-none">Свернуть</span>
      </div>
    </div>
  </article>

  <article class="football__categories_item football__categories_item--medicine">
    <div class="football__categories_box">
      <a href="#">
        <h3 class="football__categories_header">спортивная медицина</h3>
      </a>
    </div>
  </article>

</section>