<section class="footbal__experts">
  <div class="footbal__slider_descr">
    <h2 class="footbal__slider_header"><svg width="66" height="22" aria-hidden="true" focusable="false">
        <use xlink:href="img/icons/sprite.svg#pro"></use>
      </svg> эксперты</h2>

    <span class="footbal__slider_subheader">
      Наша команда продавцов – экспертов <span class="nowrap">с богатым</span> опытом поможет тебе подобрать экипировку для любого уровня
      подготовки и целей
    </span>
  </div>
  <div class="footbal__slider_box">
    <figure>
      <img src="img/images/experts/expert1.png" alt="Фото Евгения Самофатова">
      <figcaption>
        <h3>Евгений Самофатов</h3>
        <p>
          Многократный Участник районных, краевых, всероссийских соревнований по футболу среди юношей. Многократный
          участник турнира «мини футбол в ВУЗЫ» в составе команды «Российского Государственного Социального
          Университета» г. Москва.
          <br>
          <br>
          Моим выбором футбольной обуви до 2014 была легендарная серия adidas predator, сейчас модель Ultra это
          бутсы
          от тм Puma.
        </p>
      </figcaption>
    </figure>
    <figure>
      <img src="img/images/experts/expert2.png" alt="Фото Буды Манцкавы">
      <figcaption>
        <h3>Буду Манцкава</h3>
        <p>
          Призёр юношеского чемпионата Московской области по футболу. Победитель и призёр турниров Любительской
          футбольной лиги.
          <br>
          <br>
          Отдаю предпочтение экипировке бренду NIKE и PUMA. В частности бутсам Nike Tiempo и PUMA Ultra.
          <br>
          <br>
          Цель эксперта Мечтаю научиться кататься на сноуборде
          и прыгнуть с парашюта.

        </p>
      </figcaption>
    </figure>
    <figure>
      <img src="img/images/experts/expert3.png" alt="Фото Алиева Элхана">
      <figcaption>
        <h3>Алиев Элхан</h3>
        <p>
          Призёр юношеского чемпионата Самарской области по футболу. Многократный победитель чемпионатов по
          мини-футболу в Самарской области среди любителей. Участник юношеского Всероссийского турнира по футболу.
          Является кандидатом в мастера спорта по пауэрлифтингу, забрав звание чемпиона России.
          <br>
          <br>
          Своё предпочтение отдаёт именно экипировке Nike за ее дизайн, качество, долговечность. Но в мини-футболе
          выбор останавливает на фирме Joma.
        </p>
      </figcaption>
    </figure>
    <figure>
      <img src="img/images/experts/expert4.png" alt="Фото Сергея Шутка">
      <figcaption>
        <h3>Сергей шутко</h3>
        <p>
          Футболом начал заниматься с 2005 года и по сегодняшний день . На протяжение моего спортивного пути
          участвовал на региональных и всероссийских соревнованиях . Неоднократно признавался лучшим игроком
          команды.
          <br>
          <br>
          Отдаю предпочтение экипировки одной из известной фирм Puma , в частности бутсам Puma Ultra 1.3 т.к они
          очень лёгкие , удобные , и хорошее чувство мяча.
        </p>
      </figcaption>
    </figure>
  </div>
</section>