<section class="footbal__media" id="media">
  <h2 class="footbal__media_header">
    МЕДИА. Статьи <span class="nowrap">о футболе</span>
  </h2>
  <div class="footbal__media_slider">
    <div class="footbal__media_slider-box">
      <figure>
        <img src="img/images/media/img1.png" alt="Фото футбольного мяча">
        <figcaption>
          <a href="#">
            <h4>Как правильно накачать футбольный мяч</h4>
          </a>
          <span class="text-date">5 марта</span>
        </figcaption>
      </figure>
      <figure>
        <img src="img/images/media/img2.png" alt="Фото футбольного фола">
        <figcaption>
          <a href="#">
            <h4>Что такое отбор в футболе?</h4>
          </a>
          <span class="text-date">11 февраля</span>
        </figcaption>
      </figure>
      <figure>
        <img src="img/images/media/img3.png" alt="Фото мужчины с футбольным мячом">
        <figcaption>
          <a href="#">
            <h4>Возрождаем дворовой футбол!</h4>
          </a>
          <span class="text-date">24 ноября</span>
        </figcaption>
      </figure>
      <figure>
        <img src="img/images/media/img4.png" alt="Фото трех детей на скамейке запасных в футбольной форме">
        <figcaption>
          <a href="#">
            <h4>Как ребенку начать играть <span class="nowrap">в футбол?</span></h4>
          </a>
          <span class="text-date">17 ноября</span>
        </figcaption>
      </figure>
      <figure>
        <img src="img/images/media/img5.png" alt="Футбольный мяч в песке">
        <figcaption>
          <a href="#">
            <h4>Виды футбола: какими бывают <span class="nowrap">и чем отличаются</span></h4>
          </a>
          <span class="text-date">3 февраля</span>
        </figcaption>
      </figure>
      <figure>
        <img src="img/images/media/img6.png" alt="Футбольные бутсы">
        <figcaption>
          <a href="#">
            <h4>В каких бутсах играть на <span class="nowrap">разных футбольных</span> покрытиях?</h4>
          </a>
          <span class="text-date">3 февраля</span>
        </figcaption>
      </figure>
    </div>
  </div>
</section>