<section class="footbal__media wrapper" id="media">
  <h2 class="footbal__media_header">
    МЕДИА. Статьи <span class="nowrap">о футболе</span>
  </h2>
  <div class="footbal__media_slider">
    <div class="footbal__media_slider-box">

      <a href="#" class="footbal__media_item">
        <figure>
          <img srcset="img/images/media/img.png 1040w,
                       img/images/media/big/img1.png 1548w"
               sizes="(max-width: 999px) 260px,
                      (max-width: 1920px) 774px"
               src="img/images/media/img.png"
               alt="Фото футбольного мяча">
          <figcaption>
            <h4>Как правильно накачать футбольный мяч</h4>
            <span class="text-date">5 марта</span>
          </figcaption>
        </figure>
      </a>

      <a href="#" class="footbal__media_item">
        <figure>
          <img srcset="img/images/media/img-1.png 1040w,
                       img/images/media/big/img2.png 1548w"
               sizes="(max-width: 699px) 260px,
                      (max-width: 1929px) 774px"
               src="img/images/media/img-1.png"
               alt="Фото футбольного фола">
          <figcaption>
            <h4>Что такое отбор в футболе?</h4>
            <span class="text-date">11 февраля</span>
          </figcaption>
        </figure>
      </a>

      <a href="#" class="footbal__media_item">
        <figure>
          <img srcset="img/images/media/img-2.png 1040w,
                       img/images/media/big/img3.png 1548w"
               sizes="(max-width: 699px) 260px,
                      (max-width: 1929px) 774px"
               src="img/images/media/img-2.png"
               alt="Фото мужчины с футбольным мячом">
          <figcaption>
            <h4>Возрождаем дворовой футбол!</h4>
            <span class="text-date">24 ноября</span>
          </figcaption>
        </figure>
      </a>

      <a href="#" class="footbal__media_item">
        <figure>
          <img srcset="img/images/media/img-3.png 1040w,
                       img/images/media/big/img4.png 1548w"
               sizes="(max-width: 699px) 260px,
                      (max-width: 1929px) 774px"
               src="img/images/media/img-3.png"
               alt="Фото трех детей на скамейке запасных в футбольной форме">
          <figcaption>
            <h4>Как ребенку начать играть <span class="nowrap">в футбол?</span></h4>
            <span class="text-date">17 ноября</span>
          </figcaption>
        </figure>
      </a>

      <a href="#" class="footbal__media_item">
        <figure>
          <img srcset="img/images/media/img-4.png 1040w,
                       img/images/media/big/img5.png 1548w"
               sizes="(max-width: 699px) 260px,
                      (max-width: 1929px) 774px"
               src="img/images/media/img-4.png"
               alt="Футбольный мяч в песке">
          <figcaption>
            <h4>Виды футбола: какими бывают <span class="nowrap">и чем отличаются</span></h4>
            <span class="text-date">3 февраля</span>
          </figcaption>
        </figure>
      </a>

      <a href="#" class="footbal__media_item">
        <figure>
          <img srcset="img/images/media/img-5.png 1040w,
                       img/images/media/big/img6.png 1548w"
               sizes="(max-width: 699px) 260px,
                      (max-width: 1929px) 774px"
               src="img/images/media/img-5.png"
               alt="Футбольные бутсы">
          <figcaption>
            <h4>В каких бутсах играть на <span class="nowrap">разных футбольных</span> покрытиях?</h4>
            <span class="text-date">3 февраля</span>
          </figcaption>
        </figure>
      </a>

    </div>
  </div>
</section>