<nav class="football__nav">
  <ul>
    <li>
      <a href="#experts">
        <svg width="24" height="24" aria-hidden="true" focusable="false">
          <use xlink:href="img/icons/sprite.svg#bags"></use>
        </svg>
        PRO-эксперты рекомендуют
      </a>
    </li>
    <li>
      <a href="#services">
        <svg width="24" height="24" aria-hidden="true" focusable="false">
          <use xlink:href="img/icons/sprite.svg#service"></use>
        </svg>
        Сервисы
      </a>
    </li>
    <li>
      <a href="#media">
        <svg width="24" height="24" aria-hidden="true" focusable="false">
          <use xlink:href="img/icons/sprite.svg#list"></use>
        </svg>
        Медиа
      </a>
    </li>
  </ul>
</nav>