<section class="footbal__slider footbal__slider--recommendations" id="experts">
  <img class="footbal__slider_img" src="img/images/slider/img01.png"
    alt="Фотография детей со спины, сидящих на лавке запасных в футбольной форме">
  <div class="footbal__slider_descr">
    <h2 class="footbal__slider_header"><svg width="66" height="22" aria-hidden="true" focusable="false">
        <use xlink:href="img/icons/sprite.svg#pro"></use>
      </svg> эксперты рекомендуют</h2>

    <span class="footbal__slider_subheader">Выбирай комплекты для футбола</span>

    <div class="footbal__links">
      <a class="footbal__links_item" href="#">
        <span>детский</span>
        <svg width="24" height="24" aria-hidden="true" focusable="false">
          <use xlink:href="img/icons/sprite.svg#arrow"></use>
        </svg>
      </a>
      <a class="footbal__links_item" href="#">
        <span>играй с друзьями</span>
        <svg width="24" height="24" aria-hidden="true" focusable="false">
          <use xlink:href="img/icons/sprite.svg#arrow"></use>
        </svg>
      </a>
      <a class="footbal__links_item" href="#">
        <span>играй как профи</span>
        <svg width="24" height="24" aria-hidden="true" focusable="false">
          <use xlink:href="img/icons/sprite.svg#arrow"></use>
        </svg>
      </a>

    </div>
  </div>
</section>